.trip-card {
    border: 1px solid;
    border-radius: 2px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    padding: 0 20px 0 20px;
    height: 100px;
    cursor: pointer;
}

.trip-card:first-child {
    margin-top: 0;
}

.trip-card:hover {
    background-color: orange;
}

.selected-trip {
    background-color: orange;
}
